@page
@model RazorTest.Pages.pgemstone.CreateModel

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="card-header text-center">
                                        <h3 class="mb-0">Create Gem</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="form-group">
                                                <label for="gemName">Gem Name</label>
                                                <input asp-for="Gem.GemName" class="form-control" id="gemName" required>
                                                <span asp-validation-for="Gem.GemName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="gemPrice">Gem Price</label>
                                                <input asp-for="Gem.GemPrice" class="form-control" id="gemPrice">
                                                <span asp-validation-for="Gem.GemPrice" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                                        </form>
                                    </div>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->
                            <a href="javascript:history.back()" class="btn btn-light btn-fw">Back</a>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>