@page
@model RazorTest.Pages.pgemstone.EditModel

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="card-header">
                                        <h3>Edit Gem</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <!-- Hidden field for GemId -->
                                            <input asp-for="Gem.GemId" type="hidden" />

                                            <div class="form-group">
                                                <label asp-for="Gem.GemName" class="control-label"></label>
                                                <input asp-for="Gem.GemName" class="form-control" />
                                                <span asp-validation-for="Gem.GemName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Gem.BuyPrice" class="control-label"></label>
                                                <input asp-for="Gem.BuyPrice" class="form-control" />
                                                <span asp-validation-for="Gem.BuyPrice" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Gem.GemPrice" class="control-label"></label>
                                                <input asp-for="Gem.GemPrice" class="form-control" />
                                                <span asp-validation-for="Gem.GemPrice" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </form>
                                        <div class="card-footer text-center">
                                            <a asp-page="./Detail">Cancel</a>
                                        </div>
                                    </div>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>