@page
@model RazorTest.Pages.CustomerCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="Customer.CustomerId" type="hidden" />

            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label"></label>
                <input asp-for="Customer.CustomerName" class="form-control" />
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerRank" class="control-label"></label>
                <input asp-for="Customer.CustomerRank" class="form-control" />
                <span asp-validation-for="Customer.CustomerRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CustomerPoint" class="control-label"></label>
                <input asp-for="Customer.CustomerPoint" class="form-control" />
                <span asp-validation-for="Customer.CustomerPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AttendDate" class="control-label"></label>
                <input asp-for="Customer.AttendDate" class="form-control" />
                <span asp-validation-for="Customer.AttendDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./CustomerDetail">Back to List</a>
</div>
