@page
@model RazorTest.Pages.WarrantyCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Warranty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Warranty.WarrantyId" />
            <div class="form-group">
                <label asp-for="Warranty.ProductId" class="control-label"></label>
                <input asp-for="Warranty.ProductId" class="form-control" />
                <span asp-validation-for="Warranty.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.ProductName" class="control-label"></label>
                <input asp-for="Warranty.ProductName" class="form-control" />
                <span asp-validation-for="Warranty.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.StartDate" class="control-label"></label>
                <input asp-for="Warranty.StartDate" class="form-control" />
                <span asp-validation-for="Warranty.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty.ExpireDate" class="control-label"></label>
                <input asp-for="Warranty.ExpireDate" class="form-control" />
                <span asp-validation-for="Warranty.ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./WarrantyDetail">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
