*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

#appsettings.json
code/JewelSystemBE/appsettings.json
code/JewelSystemBE/obj/Debug