*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

#appsettings.json
code/JewelSystemBE/appsettings.json
code/JewelSystemBE/obj/Debug
code/JewelSystemBE/appsettings.json
code/JewelSystemBE/appsettings.json
code/JewelSystemBE/bin/Debug/net8.0/appsettings.json
code/JewelSystemBE/bin/Debug/net8.0/JewelSystemBE.dll
code/JewelSystemBE/bin/Debug/net8.0/JewelSystemBE.exe
code/JewelSystemBE/bin/Debug/net8.0/JewelSystemBE.pdb
code/JewelSystemBE/obj/Debug/net8.0/apphost.exe
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.AssemblyInfo.cs
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.AssemblyInfoInputs.cache
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.assets.cache
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.csproj.AssemblyReference.cache
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.csproj.CoreCompileInputs.cache
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.csproj.FileListAbsolute.txt
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.dll
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.GeneratedMSBuildEditorConfig.editorconfig
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.genruntimeconfig.cache
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.MvcApplicationPartsAssemblyInfo.cs
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.pdb
code/JewelSystemBE/obj/Debug/net8.0/JewelSystemBE.sourcelink.json
code/JewelSystemBE/obj/Debug/net8.0/ref/JewelSystemBE.dll
code/JewelSystemBE/obj/Debug/net8.0/refint/JewelSystemBE.dll
code/JewelSystemBE/obj/JewelSystemBE.csproj.nuget.dgspec.json
code/JewelSystemBE/obj/JewelSystemBE.csproj.nuget.g.props
code/JewelSystemBE/obj/project.assets.json
code/JewelSystemBE/obj/project.nuget.cache
