       <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo">
                    <img src="~/assets/images/logo.svg" alt="logo" style="width: 60px; height: 60px;" />
                </a>
                <a class="sidebar-brand brand-logo-mini">
                    <img src="~/assets/images/logo-mini.svg" alt="logo" style="width: 35px; height: 35px;" />
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/assets/images/faces/@(Model.User.UserId).png" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">@Model.User.Fullname</h5>
                                @if (Model.User.Role.Equals("Sale"))
                                {
                                    <span>Retail Assistant</span>
                                }
                                else
                                {
                                    <span>@Model.User.Role</span>
                                }
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>

                @if (Model.User.Role.Equals("Manager"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pproduct/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-package-variant-closed"></i>
                            </span>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pinvoice/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-history"></i>
                            </span>
                            <span class="menu-title">Order History</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pgemstone/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-diamond-stone"></i>
                            </span>
                            <span class="menu-title">Gemstone</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/puser/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-account"></i>
                            </span>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">

                        <a class="nav-link" asp-page="/Authentication/AccessDenied">
                            <span class="menu-icon">
                                <i class="mdi mdi-store"></i>
                            </span>
                            <span class="menu-title">Manage Stalls</span>
                        </a>

                    </li>
                }

                @if (Model.User.Role.Equals("Admin"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" href="/Dashboard/Revenue">
                            <span class="menu-icon">
                                <i class="mdi mdi-speedometer"></i>
                            </span>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pproduct/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-package-variant-closed"></i>
                            </span>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pcustomer/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-account-box"></i>
                            </span>
                            <span class="menu-title">Customer</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pdiscount/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-tag"></i>
                            </span>
                            <span class="menu-title">Discount</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/puser/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-account"></i>
                            </span>
                            <span class="menu-title">User</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pinvoice/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-history"></i>
                            </span>
                            <span class="menu-title">Order History</span>
                        </a>
                    </li>
                }

                @if (Model.User.Role.Equals("Cashier"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pproduct/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-package-variant-closed"></i>
                            </span>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pinvoice/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-history"></i>
                            </span>
                            <span class="menu-title">Order History</span>
                        </a>
                    </li>
                }

                @if (Model.User.Role.Equals("Sale"))
                {
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pproduct/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-package-variant-closed"></i>
                            </span>
                            <span class="menu-title">Product</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/Sale/SaleHomePage">
                            <span class="menu-icon">
                                <i class="mdi mdi-cart"></i>
                            </span>
                            <span class="menu-title">Order</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/Buy/Processing">
                            <span class="menu-icon">
                                <i class="mdi mdi-cart-arrow-down"></i>
                            </span>
                            <span class="menu-title">Buy</span>
                        </a>
                    </li>
                    <li class="nav-item menu-items">
                        <a class="nav-link" asp-page="/pinvoice/Index">
                            <span class="menu-icon">
                                <i class="mdi mdi-history"></i>
                            </span>
                            <span class="menu-title">Order History</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- partial -->