@page
@model RazorTest.Pages.GoldCRUD.CreateModel

<h1>Create Gold</h1>

<form method="post">
    <!-- Hidden field for GoldId -->
    <input asp-for="Gold.GoldId" type="hidden" />

    <div class="form-group">
        <label asp-for="Gold.GoldName"></label>
        <input asp-for="Gold.GoldName" class="form-control" />
        <span asp-validation-for="Gold.GoldName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gold.GoldPrice"></label>
        <input asp-for="Gold.GoldPrice" class="form-control" />
        <span asp-validation-for="Gold.GoldPrice" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

