@page
@model RazorTest.Pages.pcustomer.EditModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="card-header">
                                        <h1>Edit Customer</h1>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <input type="hidden" asp-for="Customer.CustomerId" />

                                            <div class="form-group">
                                                <label asp-for="Customer.CustomerName" class="control-label"></label>
                                                <input asp-for="Customer.CustomerName" class="form-control" />
                                                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Customer.CustomerRank" class="control-label"></label>
                                                <input asp-for="Customer.CustomerRank" class="form-control" />
                                                <span asp-validation-for="Customer.CustomerRank" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Customer.CustomerPoint" class="control-label"></label>
                                                <input asp-for="Customer.CustomerPoint" class="form-control" />
                                                <span asp-validation-for="Customer.CustomerPoint" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Customer.AttendDate" class="control-label"></label>
                                                <input asp-for="Customer.AttendDate" class="form-control" />
                                                <span asp-validation-for="Customer.AttendDate" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-fw">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->
                            <div class="card-body text-center">
                                <a class="btn btn-secondary btn-fw" asp-page="./CustomerDetail">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>