@page
@model RazorTest.Pages.Sale.CreateModel
@{
}
<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->

<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="card-header text-center">
                                        <h3 class="mb-0">Create Customer</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="form-group">
                                                <label for="customerName">Customer Name</label>
                                                <input asp-for="Customer.CustomerName" class="form-control" id="customerName" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="customerPhone">Phone Contact</label>
                                                <input asp-for="Customer.CustomerPhone" class="form-control" id="customerPhone" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="customerRank">Customer Rank</label>
                                                <input asp-for="Customer.CustomerRank" class="form-control" id="customerRank" value="Bronze" readonly>
                                            </div>

                                            

                                            <div class="card-body text-center">
                                                <button type="submit" class="btn btn-light btn-fw">Create</button>
                                                <a asp-page="./ViewCart" class="btn btn-danger btn-fw">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>