@page
@model RazorTest.Pages.puser.EditModel

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="card-header text-center">
                                <h1>Edit User</h1>
                            </div>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Usern.UserId" />

                                <div class="form-group">
                                    <label asp-for="Usern.Username" class="control-label"></label>
                                    <input asp-for="Usern.Username" class="form-control" />
                                    <span asp-validation-for="Usern.Username" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Usern.Password" class="control-label"></label>
                                    <input asp-for="Usern.Password" class="form-control" />
                                    <span asp-validation-for="Usern.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Usern.Fullname" class="control-label"></label>
                                    <input asp-for="Usern.Fullname" class="form-control" />
                                    <span asp-validation-for="Usern.Fullname" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Usern.Email" class="control-label"></label>
                                    <input asp-for="Usern.Email" class="form-control" />
                                    <span asp-validation-for="Usern.Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Usern.Role" class="control-label"></label>
                                    <input asp-for="Usern.Role" class="form-control" />
                                    <span asp-validation-for="Usern.Role" class="text-danger"></span>
                                </div>

                                <div class="form-group ">
                                    <button type="submit" class="btn btn-outline-success btn-fw">Save</button>
                                </div>
                            </form>
                            <!-- EDIT HERE END -->

                            <div class="card-body text-center">
                                <a class="btn btn-outline-secondary btn-fw" asp-page="./UserDetail">Back to List</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
