@page
@model RazorTest.Pages.IndexModel
@{
    ViewData["Title"] = "View List";
}

<style>
    .link-table {
        width: 100%;
        border-collapse: collapse;
    }

        .link-table th, .link-table td {
            border: 1px solid #000; /* Đường viền màu đen */
            padding: 8px;
            text-align: left;
        }

        .link-table th {
            background-color: #f2f2f2;
        }

        .link-table a {
            color: #007bff;
            text-decoration: none;
        }

            .link-table a:hover {
                text-decoration: underline;
            }
</style>


<h2>Navigation</h2>
<table class="link-table">
    <thead>
        <tr>
            <th>Section</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Customers</td>
            <td><a asp-page="/CustomerCRUD/CustomerDetail">View all Customers</a></td>
        </tr>
        <tr>
            <td>Discounts</td>
            <td><a asp-page="/DiscountCRUD/DiscountDetail">View all Discounts</a></td>
        </tr>
        <tr>
            <td>Gems</td>
            <td><a asp-page="/GemCRUD/GemDetail">View all Gems</a></td>
        </tr>
        <tr>
            <td>Golds</td>
            <td><a asp-page="/GoldCRUD/GoldDetail">View all Golds</a></td>
        </tr>
        <tr>
            <td>Invoice</td>
            <td><a asp-page="/InvoiceCRUD/InvoiceDetail">View all Invoices</a></td>
        </tr>
        <tr>
            <td>Invoice Item</td>
            <td><a asp-page="/InvoiceItemCRUD/InvoiceItemDetail">View all InvoiceItems</a></td>
        </tr>
        <tr>
            <td>Jewel</td>
            <td><a asp-page="/JewelDetail">View all Jewels</a></td>
        </tr>
        <tr>
            <td>Product</td>
            <td><a asp-page="/ProductCRUD/ProductDetail">View all Products</a></td>
        </tr>
        <tr>
            <td>User</td>
            <td><a asp-page="/UserCRUD/UserDetail">View all Users</a></td>
        </tr>
        <tr>
            <td>Warranty</td>
            <td><a asp-page="/WarrantyCRUD/WarrantyDetail">View all Warranties</a></td>
        </tr>
        <tr>
            <td>Gold Price</td>
            <td><a asp-page="/GoldPriceDetail">View all Gold Prices</a></td>
        </tr>
    </tbody>
</table>
