@page
@model RazorTest.Pages.pwarranty.CreateModel



<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->


                            <div class="card-header">
                                <h3>Create Warranty</h3>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Warranty.WarrantyId" />

                                    <div class="form-group">
                                        <label for="productId">Product ID</label>
                                        <input asp-for="Warranty.ProductId" class="form-control" id="productId" required>
                                        <span asp-validation-for="Warranty.ProductId" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="productName">Product Name</label>
                                        <input asp-for="Warranty.ProductName" class="form-control" id="productName">
                                        <span asp-validation-for="Warranty.ProductName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="startDate">Start Date</label>
                                        <input asp-for="Warranty.StartDate" class="form-control" id="startDate">
                                        <span asp-validation-for="Warranty.StartDate" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="expireDate">Expire Date</label>
                                        <input asp-for="Warranty.ExpireDate" class="form-control" id="expireDate">
                                        <span asp-validation-for="Warranty.ExpireDate" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>

                            <div class="card-body text-center">
                                <a class="btn btn-secondary btn-fw" asp-page="/Index">Back</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>



