@page
@model RazorTest.Pages.Template.testModel
@{
}

@if(Model.Discounts != null)
{
    <h2>Success</h2>
}
else
{
    <h2>Fail</h2>
}
@if(Model.Stalls != null)
{
    @foreach (var stall in Model.Stalls)
    {
        <p>@stall.StallName</p>
    }
}