@page
@model RazorTest.Pages.GemCRUD.DeleteModel

<h1>Delete Gem</h1>

<h3>Are you sure you want to delete this Gem?</h3>
<div>
    <h4>Gem</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Gem Id
        </dt>
        <dd class="col-sm-10">
            @Model.Gem.GemId
        </dd>
        <dt class="col-sm-2">
            Gem Name
        </dt>
        <dd class="col-sm-10">
            @Model.Gem.GemName
        </dd>
        <dt class="col-sm-2">
            Gem Price
        </dt>
        <dd class="col-sm-10">
            @Model.Gem.GemPrice
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Gem.GemId"/>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./GemDetail" class="btn btn-secondary">Cancel</a>
    </form>
</div>
