@page
@model RazorTest.Pages.ProductCRUD.EditModel
@{
    ViewData["Title"] = "Edit Product";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Product.ProductCode"></label>
        <input asp-for="Product.ProductCode" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductName"></label>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductImages"></label>
        <input asp-for="Product.ProductImages" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductQuantity"></label>
        <input asp-for="Product.ProductQuantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductType"></label>
        <input asp-for="Product.ProductType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductWeight"></label>
        <input asp-for="Product.ProductWeight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductWarranty"></label>
        <input asp-for="Product.ProductWarranty" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.MarkupRate"></label>
        <input asp-for="Product.MarkupRate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.GemId"></label>
        <input asp-for="Product.GemId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.GemWeight"></label>
        <input asp-for="Product.GemWeight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.GoldId"></label>
        <input asp-for="Product.GoldId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.GoldWeight"></label>
        <input asp-for="Product.GoldWeight" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.LaborCost"></label>
        <input asp-for="Product.LaborCost" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.CreatedAt"></label>
        <input asp-for="Product.CreatedAt" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-page="./ProductDetail">Back to List</a>

