@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        <a asp-page="/chart">Chart</a>
    </h1>
    <h1 class="display-4">
        <a asp-page="/guruFolder/chart">Chart</a>
    </h1>
</div>
