@page
@model RazorTest.Pages.Authentication.LoginPageModel
@{
}



<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Login</h3>
                            <form method="post">
                                @if (ModelState.ErrorCount > 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                                            {
                                                <li>@error.ErrorMessage</li>
                                            }
                                        </ul>
                                    </div>
                                }

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control p_input" id="username" name="username" asp-for="Username" required>
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control p_input" id="password" name="password" asp-for="Password" required>
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                    <div class="form-group d-flex align-items-center justify-content-between">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" id="showPassword"> Show password
                                            </label>
                                        </div>
                                        <a href="#" class="forgot-pass">Forgot password</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                                </div>

                                <p class="sign-up">Don't have an Account?<a href="/Authentication/Register"> Sign Up</a></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
    <script>
        document.getElementById('showPassword').addEventListener('change', function (e) {
            const password = document.getElementById('password');
            const type = this.checked ? 'text' : 'password';
            password.setAttribute('type', type);
        });
    </script>
</body>
</html>
