@page
@model RazorTest.Pages.pproduct.CreateModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="container create-container">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h3>Create Product</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" enctype="multipart/form-data">
                                            <input asp-for="Product.ProductId" type="hidden" />

                                            <div class="form-group">
                                                <label asp-for="Product.ProductCode"></label>
                                                <input asp-for="Product.ProductCode" class="form-control" />
                                                <span asp-validation-for="Product.ProductCode" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.ProductName"></label>
                                                <input asp-for="Product.ProductName" class="form-control" />
                                                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="ProductImageUpload"></label>
                                                <input asp-for="ProductImageUpload" class="form-control" type="file" accept="image/*" />
                                                <span asp-validation-for="ProductImageUpload" class="text-danger"></span>
                                            </div>

                                            <input asp-for="Product.ProductImages" class="form-control" type="hidden" value="TESTIMAGE" />

                                            <div class="form-group">
                                                <label asp-for="Product.ProductQuantity"></label>
                                                <input asp-for="Product.ProductQuantity" class="form-control" />
                                                <span asp-validation-for="Product.ProductQuantity" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.ProductType"></label>
                                                <input asp-for="Product.ProductType" class="form-control" />
                                                <span asp-validation-for="Product.ProductType" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.ProductWeight"></label>
                                                <input asp-for="Product.ProductWeight" class="form-control" />
                                                <span asp-validation-for="Product.ProductWeight" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.ProductWarranty"></label>
                                                <input asp-for="Product.ProductWarranty" class="form-control" />
                                                <span asp-validation-for="Product.ProductWarranty" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.MarkupRate"></label>
                                                <input asp-for="Product.MarkupRate" class="form-control" />
                                                <span asp-validation-for="Product.MarkupRate" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.GemId" class="control-label"></label>
                                                <input asp-for="Product.GemId" class="form-control" readonly />
                                                <span asp-validation-for="Product.GemId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Product.GemName" class="control-label">Gemstone</label>
                                                <select asp-for="Product.GemName" class="form-control" asp-items="@(new SelectList(Model.Gems, "GemId", "GemName"))" onchange="updateGemId(this)">
                                                    <option value="">-- Select a Gem --</option>
                                                </select>
                                                <span asp-validation-for="Product.GemName" class="text-danger"></span>
                                            </div>


                                            <script>
                                                function updateGemId(selectElement) {
                                                    var selectedIndex = selectElement.selectedIndex;
                                                    var selectedOption = selectElement.options[selectedIndex];
                                                    var gemId = selectedOption.value;

                                                    // Update the hidden field with the selected GemId
                                                    document.getElementById("Product_GemId").value = gemId;
                                                }
                                            </script>

                                            <div class="form-group">
                                                <label asp-for="Product.GemWeight"></label>
                                                <input asp-for="Product.GemWeight" class="form-control" />
                                                <span asp-validation-for="Product.GemWeight" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.GoldId" class="control-label"></label>
                                                <input asp-for="Product.GoldId" class="form-control" readonly />
                                                <span asp-validation-for="Product.GoldId" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.GoldName" class="control-label">Gold Material</label>


                                                <select asp-for="Product.GoldName" class="form-control" asp-items="@(new SelectList(Model.Golds, "GoldId", "GoldName"))" onchange="updateGoldId(this)">
                                                    <option value="">-- Select Gold Material --</option>
                                                </select>

                                                <span asp-validation-for="Product.GoldName" class="text-danger"></span>
                                            </div>
                                            <script>
                                                function updateGoldId(selectElement) {
                                                    var selectedIndex = selectElement.selectedIndex;
                                                    var selectedOption = selectElement.options[selectedIndex];
                                                    var goldId = selectedOption.value;

                                                    // Update the hidden field with the selected GemId
                                                    document.getElementById("Product_GoldId").value = goldId;
                                                }
                                            </script>

                                            <div class="form-group">
                                                <label asp-for="Product.GoldWeight"></label>
                                                <input asp-for="Product.GoldWeight" class="form-control" />
                                                <span asp-validation-for="Product.GoldWeight" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.LaborCost"></label>
                                                <input asp-for="Product.LaborCost" class="form-control" />
                                                <span asp-validation-for="Product.LaborCost" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Product.CreatedAt"></label>
                                                <input asp-for="Product.CreatedAt" class="form-control" type="datetime-local" />
                                                <span asp-validation-for="Product.CreatedAt" class="text-danger"></span>
                                            </div>
                                                                                                                              
                                            <div class="card-body text-center">
                                                <button type="submit" class="btn btn-outline-light btn-fw">Create</button>
                                                <a asp-page="./ProductDetail" class="btn btn-outline-danger btn-fw">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <script src="~/lib/jquery/dist/jquery.min.js"></script>
                            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                            <!-- EDIT HERE END -->                          
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>