@page
@model RazorTest.Pages.pproduct.EditModel
@{
}

<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header text-center">
                                <h1>Edit Product</h1>
                            </div>
                            <!-- EDIT HERE ONLY -->
                            <form method="post">
                                <input type="hidden" asp-for="Product.ProductId" />

                                <div class="form-group">
                                    <label asp-for="Product.ProductCode"></label>
                                    <input asp-for="Product.ProductCode" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductName"></label>
                                    <input asp-for="Product.ProductName" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductImages"></label>
                                    <input asp-for="Product.ProductImages" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductQuantity"></label>
                                    <input asp-for="Product.ProductQuantity" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductType"></label>
                                    <input asp-for="Product.ProductType" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductWeight"></label>
                                    <input asp-for="Product.ProductWeight" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.ProductWarranty"></label>
                                    <input asp-for="Product.ProductWarranty" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.MarkupRate"></label>
                                    <input asp-for="Product.MarkupRate" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.GemId" class="control-label"></label>
                                    <input asp-for="Product.GemId" class="form-control" />
                                    <span asp-validation-for="Product.GemId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.GemWeight"></label>
                                    <input asp-for="Product.GemWeight" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.GoldId" class="control-label"></label>
                                    <input asp-for="Product.GoldId" class="form-control" />
                                    <span asp-validation-for="Product.GoldId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.GoldWeight"></label>
                                    <input asp-for="Product.GoldWeight" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.LaborCost"></label>
                                    <input asp-for="Product.LaborCost" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Product.CreatedAt"></label>
                                    <input asp-for="Product.CreatedAt" class="form-control" type="datetime-local" />
                                </div>

                                <div class="form-group ">
                                    <button type="submit" class="btn btn-outline-success btn-fw">Save</button>
                                </div>                                
                            </form>
                            <!-- EDIT HERE END -->

                            <div class="card-body text-center">
                                <a class="btn btn-outline-secondary btn-fw" asp-page="./ProductDetail">Back</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
