@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        <a asp-page="/dash/widget">Widget</a>
    </h1>
    <h1 class="display-4">
        <a asp-page="/dash/form">Form</a>
    </h1>
    <h1 class="display-4">
        <a asp-page="/dash/table">Table</a>
    </h1>
    <h1 class="display-4">
        <a asp-page="/dash/chart">Chart</a>
    </h1>
    <h1 class="display-4">
        <a asp-page="/dash/signin">Signin</a>
    </h1>
</div>
