@page
@model RazorTest.Pages.pinvoice.CreateModel



<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <div class="card-header text-center">
                                        <h3 class="mb-0">Create Invoice</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            <input type="hidden" asp-for="Invoice.InvoiceId" />

                                            <div class="form-group">
                                                <label for="invoiceType">Invoice Type</label>
                                                <input asp-for="Invoice.InvoiceType" class="form-control" id="invoiceType" required>
                                                <span asp-validation-for="Invoice.InvoiceType" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="customerId">Customer ID</label>
                                                <input asp-for="Invoice.CustomerId" class="form-control" id="customerId">
                                                <span asp-validation-for="Invoice.CustomerId" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="userId">User ID</label>
                                                <input asp-for="Invoice.UserId" class="form-control" id="userId">
                                                <span asp-validation-for="Invoice.UserId" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="invoiceDate">Invoice Date</label>
                                                <input asp-for="Invoice.InvoiceDate" class="form-control" id="invoiceDate">
                                                <span asp-validation-for="Invoice.InvoiceDate" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="customerVoucher">Customer Voucher</label>
                                                <input asp-for="Invoice.CustomerVoucher" class="form-control" id="customerVoucher">
                                                <span asp-validation-for="Invoice.CustomerVoucher" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="totalPrice">Total Price</label>
                                                <input asp-for="Invoice.TotalPrice" class="form-control" id="totalPrice">
                                                <span asp-validation-for="Invoice.TotalPrice" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="endTotalPrice">End Total Price</label>
                                                <input asp-for="Invoice.EndTotalPrice" class="form-control" id="endTotalPrice">
                                                <span asp-validation-for="Invoice.EndTotalPrice" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="invoiceStatus">Invoice Status</label>
                                                <input asp-for="Invoice.InvoiceStatus" class="form-control" id="invoiceStatus">
                                                <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                                            <div class="card-body text-center">
                                                <button type="submit" class="btn btn-light btn-fw">Create</button>
                                                <a asp-page="./InvoiceDetail" class="btn btn-danger btn-fw">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        <!-- EDIT HERE END -->
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <!-- partial: Shared/_Footer.cshtml -->
            @await Html.PartialAsync("Shared/_Footer")
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>