@page
@model RazorTest.Pages.pinvoice.EditModel

@{
}



<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->

                            <div class="container mt-5 create-container">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3></h3>
                                            </div>
                                            <div class="card-body">
                                                <form method="post">
                                                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                                                    <input type="hidden" asp-for="Invoice.InvoiceId" />

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.InvoiceType" class="control-label"></label>
                                                        <input asp-for="Invoice.InvoiceType" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.InvoiceType" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.CustomerId" class="control-label"></label>
                                                        <input asp-for="Invoice.CustomerId" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.CustomerId" class="text-danger"></span>
                                                    </div>
                                                    <input type="hidden" asp-for="Invoice.CustomerName" />

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.UserId" class="control-label"></label>
                                                        <input asp-for="Invoice.UserId" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.UserId" class="text-danger"></span>
                                                    </div>
                                                    <input type="hidden" asp-for="Invoice.UserFullname" />
                                                    <input type="hidden" asp-for="Invoice.ManagerId" />
                                                    <input type="hidden" asp-for="Invoice.ManagerFullname" />
                                                    <input type="hidden" asp-for="Invoice.CashierId" />
                                                    <input type="hidden" asp-for="Invoice.CashierFullname" />
                                                    <input type="hidden" asp-for="Invoice.StallId" />
                                                    <input type="hidden" asp-for="Invoice.StallName" />

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.InvoiceDate" class="control-label"></label>
                                                        <input asp-for="Invoice.InvoiceDate" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.InvoiceDate" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.CustomerVoucher" class="control-label"></label>
                                                        <input asp-for="Invoice.CustomerVoucher" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.CustomerVoucher" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.TotalPrice" class="control-label"></label>
                                                        <input asp-for="Invoice.TotalPrice" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.TotalPrice" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.EndTotalPrice" class="control-label"></label>
                                                        <input asp-for="Invoice.EndTotalPrice" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.EndTotalPrice" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label asp-for="Invoice.InvoiceStatus" class="control-label"></label>
                                                        <input asp-for="Invoice.InvoiceStatus" class="form-control" readonly />
                                                        <span asp-validation-for="Invoice.InvoiceStatus" class="text-danger"></span>
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <input type="submit" value="Approve" class="btn btn-primary" />
                                                        <a asp-page="./InvoiceDetail" class="btn btn-secondary ml-2">Back</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- EDIT HERE END -->
                            <a class="btn btn-inverse-secondary btn-fw" asp-page="./Create">Create New</a>
                            <a class="btn btn-inverse-secondary btn-fw" asp-page="/Index">Back to List</a>


                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>