@page
@model RazorTest.Pages.GoldCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gold</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Hidden field for GoldId -->
            <input asp-for="Gold.GoldId" type="hidden" />
            <div class="form-group">
                <label asp-for="Gold.GoldName" class="control-label"></label>
                <input asp-for="Gold.GoldName" class="form-control" />
                <span asp-validation-for="Gold.GoldName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gold.GoldPrice" class="control-label"></label>
                <input asp-for="Gold.GoldPrice" class="form-control" />
                <span asp-validation-for="Gold.GoldPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

