@page
@model RazorTest.Pages.pgold.CreateModel


<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <!-- EDIT HERE ONLY -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <h3 class="card-header text-center mb-0">Create Gold</h3>
                                    <form class="card-body"  method="post">
                                        <div class="form-group">
                                            <label for="goldName">Gold Name</label>
                                            <input asp-for="Gold.GoldName" class="form-control" id="goldName" required>
                                            <span asp-validation-for="Gold.GoldName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="goldPrice">Gold Price</label>
                                            <input asp-for="Gold.SellPrice" class="form-control" id="goldPrice">
                                            <span asp-validation-for="Gold.SellPrice" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                                    </form>
                                </table>
                            </div>
                            <!-- EDIT HERE END -->
                            <a href="javascript:history.back()" class="btn btn-light btn-fw">Back</a>
                        </div>
                    </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>