@page
@model RazorTest.Pages.pgold.EditModel


<!DOCTYPE html>
<html lang="en">
<!-- partial: Shared/_Head.cshtml -->
@await Html.PartialAsync("Shared/_Head")
<!-- partial -->
<body>
    <div class="container-scroller">
        <!-- partial: Shared/_Sidebar.cshtml -->
        @await Html.PartialAsync("Shared/_Sidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial: Shared/_Navbar.cshtml -->
            @await Html.PartialAsync("Shared/_Navbar")
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper begins -->
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">


                            <h3>Edit Gold</h3>
                            <form method="post">
                                <!-- Hidden field for GoldId -->
                                <input asp-for="Gold.GoldId" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Gold.GoldName" class="control-label"></label>
                                    <input asp-for="Gold.GoldName" class="form-control" />
                                    <span asp-validation-for="Gold.GoldName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gold.SellPrice" class="control-label"></label>
                                    <input asp-for="Gold.SellPrice" class="form-control" />
                                    <span asp-validation-for="Gold.SellPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                            <!-- EDIT HERE END -->
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial: Shared/_Footer.cshtml -->
                @await Html.PartialAsync("Shared/_Footer")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- partial: Shared/_Source.cshtml -->
    @await Html.PartialAsync("Shared/_Source")
    <!-- partial -->
</body>
</html>

