@page
@model RazorTest.Pages.GoldModel
@{
    ViewData["Title"] = "Gold List";
}

<h2 style="text-align: center;">Gold</h2>
<div class="luxury-table-wrapper">
    <table class="luxury-table">
        <thead>
            <tr>
                <th>Gold Id</th>
                <th>Gold Name</th>
                <th>Gold Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gold in Model.Golds)
            {
                <tr>
                    <td>@gold.GoldId</td>
                    <td><strong>@gold.GoldName</strong></td>
                    <td>@gold.GoldPrice</td>
                </tr>
            }
        </tbody>
    </table>
</div>
